@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d53bb1;
    --secondary-color: #731c77;
    --grey-color: #989898;
}

body {
    background: url('../img/grunge-background.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
    margin-left: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    background: linear-gradient(180deg, #000000, #ffffff00);
    padding-right: 20px;
    z-index: 1000;
}

/* NAVBAR */

header .navbar ul {
    list-style-type: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 30px;
    padding: 18px;
    display: block;
    color: var(--primary-color);
    margin-right: 30px;
}

header .navbar ul li a:visited {
   color: var(--primary-color);
   text-decoration: none;
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #FFF;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,
header .nvabar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

h1, h2 {
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-family: "Anton SC", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.koncerter h1 {
    margin-top: 150px;
}

.koncerter-row-1,
.koncerter-row-2,
.koncerter-row-3 {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin: 40px 0;
}
  
  .koncert {
    position: relative;
    overflow: hidden;
}
  
  .koncert img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}
  
  
  .koncert article {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    text-align: center;
}

.koncert-titel {
    font-size: 1.25rem;
}

  .koncert:nth-child(1) article,
  .koncert:nth-child(4) article {
    bottom: 10px;
}

  .koncert:nth-child(1) .koncert-titel,
  .koncert:nth-child(4) .koncert-titel {
    font-size: 1.1rem;
}

.koncert-titel {
    font-family: "Anton SC", sans-serif;
    color: var(--primary-color);
}

.koncert-dato {
    font-family: "Anton SC", sans-serif;
    color: var(--secondary-color);
}

h2 {
    margin-top: 100px;
}

.reviews-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: top;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 80px;
}

.review p {
    margin: 0;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    color: var(--primary-color);
}

.review img {
    width: 200px;
    height: auto;
    margin: -60px;

}

footer .partners {
    background: #565656;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

footer .social {
    background: #000000;
    padding: 20px;
    position: relative;
}

footer .partners img {
    width: 200px;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
}

h3 {
    letter-spacing: 1px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kontakt-tekst {
    text-align: left;
    font-family: "Anton Sc", sans-serif;
    color: white;
}

.footer-tekst {
    text-align: center;
    font-family: "Anton Sc", sans-serif;
    color: white;
}

@media(max-width:1230px) {

    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        position: fixed;
    }

    header label {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--primary-color);
        display: none;
        color: var(--secondary-color);
        font-family: "Anton SC", sans-serif;
    }

    header .navbar ul li {
        width:100%;
        background-color: var(--secondary-color);
    }

    header .navbar ul li a:hover {
        background: var(--primary-color);
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

    .menubillede {
        width: 40px;
        margin-right: 30px;
    }
}

@media(max-width:905px) {

    .footer-tekst {
        display: none;
    }

    .koncert:nth-child(3) {
        display: none;
    }
    
}

@media(max-width:830px) {

    .reviews-grid {
    flex-direction: column;
    }
}

@media(max-width:830px) {

    .koncerter-row-1,
    .koncerter-row-2,
    .koncerter-row-3 {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .koncert article {
        flex-direction: column;
        bottom: 50px;
    }

    .koncert img {
        height: 100%;
        width: auto;
        margin: 40px 0;
    }

    .koncert:nth-child(1) article,
    .koncert:nth-child(4) article {
      bottom: 50px;
  }
  
    .koncert:nth-child(1) .koncert-titel,
    .koncert:nth-child(4) .koncert-titel {
      font-size: 1.1rem;
  }
}

@media(max-width:630px) {

    footer .partners {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .menubillede {
        margin-right: 20px;
        margin-top: -10px;
    }

    .logo {
        margin-left: 0px;
        margin-top: -10px;
    }

}

@media(max-width:600px) {

    footer .social-icons {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        gap: 10px;
    }
}

@media(max-width:410px) {

    .koncert img {
        height: auto;
        width: 350px;
        margin: 20px 0;
    }

    .koncert article {
        bottom: 35px;
    }

    .koncert:nth-child(1) article,
    .koncert:nth-child(4) article {
      bottom: 30px;
  }
}