@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d53bb1;
    --secondary-color: #731c77;
    --grey-color: #989898;
}

body {
    background: url('../img/grunge-background.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
    margin-left: 20px;
}

header {
    display: flex;
    align-items: center;
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    background: linear-gradient(180deg, #000000, #ffffff00);
    padding-right: 20px;
}

/* NAVBAR */

header .navbar ul {
    list-style-type: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 30px;
    padding: 18px;
    display: block;
    color: var(--primary-color);
    margin-right: 30px;
}

header .navbar ul li a:visited {
   color: var(--primary-color);
   text-decoration: none;
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #FFF;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,
header .nvabar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

h1, h2 {
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-family: "Anton SC", sans-serif;
    font-size: 3rem;
}

.hvad-er-radar {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 130px;
}

.hvad-er-radar p {
    font-family: "Anton SC", sans-serif;
    color: var(--primary-color);
}

.radar-image img {
    width: 100%;
    overflow-x: hidden;
    object-fit: cover;
}

.frivillig {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
}

.frivillig p:not(.bliv-frivillig) {
    font-family: "Anton SC", sans-serif;
    color: var(--primary-color);
}

.bliv-frivillig {
    font-family: "Anton SC", sans-serif;
    color: var(--secondary-color);
    font-size: 2rem;
}

.glader-os {
    font-size: 1.5rem;
}

.dine-ideer {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 80px;
    margin-top: 50px;
}

.dine-ideer h2 {
    text-align: center;
}

.dine-ideer p {
    font-family: "Anton SC", sans-serif;
    color: var(--primary-color);
}

.tekst-om-ide {
    max-width: 400px;
    text-align: center;
}

.ideer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

form {
    width: 50%;
    font-family: "Anton SC", sans-serif;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

button {
    font-family: "Anton SC", sans-serif;
    font-size: 2rem;
    width: 50%;
}

.feedback-form {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.feedback-form button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: var(--primary-color);
}

footer .partners {
    background: #565656;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

footer .social {
    background: #000000;
    padding: 20px;
    position: relative;
}

footer .partners img {
    width: 200px;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
}

h3 {
    letter-spacing: 1px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kontakt-tekst {
    text-align: left;
    font-family: "Anton Sc", sans-serif;
    color: white;
}

.footer-tekst {
    text-align: center;
    font-family: "Anton Sc", sans-serif;
    color: white;
}

@media(max-width:1230px) {

    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        position: fixed;
    }

    header label {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--primary-color);
        display: none;
        color: var(--secondary-color);
        font-family: "Anton SC", sans-serif;
    }

    header .navbar ul li {
        width:100%;
        background-color: var(--secondary-color);
    }

    header .navbar ul li a:hover {
        background: var(--primary-color);
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

    .menubillede {
        width: 40px;
        margin-right: 50px;
    }
}

@media(max-width:905px) {

    .footer-tekst {
        display: none;
    }
    
}

@media(max-width:790px) {

    .ideer-container {
        flex-direction: column;
        align-items: center;
        max-width: 700px;
    }

    form {
        align-items: center;
        width: 100%;
    }

    .feedback-form button {
        max-width: 50%;
        width: 100%;
    }
}

@media(max-width:630px) {

    footer .partners {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .menubillede {
        margin-right: 20px;
        margin-top: -10px;
    }

    .logo {
        margin-left: 0px;
        margin-top: -10px;
    }

}

@media(max-width:600px) {

    footer .social-icons {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        gap: 10px;
    }
}